
#home-title {
    font-family: 'Sono', sans-serif;
    font-size: 19px;
   
}

#home-title h1 {
    font-size: 60px;
}

div p {
    font-family: 'Sono', sans-serif;
}

#search h1 {
    font-family: 'Sono', sans-serif;
}

#modalBtn {
    display: none;
}

#main-tilte {
    font-size: 50px;
}

body {
    background-color: rgb(175, 175, 174);
    
}

h2 {
    display: none;
}

#weather-description {
    background-color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}